{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter une armure</h1>

    {{ form_start(formArmor) }}
    <div class="form-group">
        <label for="">Nom</label>
        {{ form_widget(formArmor.name) }}
    </div>

    <div class="form-group">
        <label for="">description</label>
        {{ form_widget(formArmor.description) }}
    </div>

    <div class="form-group">
        <label for="">Défense</label>
        {{ form_widget(formArmor.defense) }}
    </div>

    <div class="form-group">
        <label for="">Elément</label>
        {{ form_widget(formArmor.element) }}
    </div>

    <div class="form-group">
        <label for="">Level</label>
        {{ form_widget(formArmor.lvl) }}
    </div>

    <div class="form-group">
        <label for="">Prix</label>
        {{ form_widget(formArmor.price) }}
    </div>


    <button type="submit" class="btn btn-success">Ajouter !</button>
    {{ form_end(formArmor) }}

{% endblock %}