{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter une arme</h1>

    {{ form_start(formWeapons) }}
    <div class="form-group">
        <label for="">Nom</label>
        {{ form_widget(formWeapons.name) }}
    </div>

    <div class="form-group">
        <label for="">description</label>
        {{ form_widget(formWeapons.description) }}
    </div>

    <div class="form-group">
        <label for="">Classes autorisées</label>
        {{ form_widget(formWeapons.class_authorized) }}
    </div>

    <div class="form-group">
        <label for="">Inventaire</label>
        {{ form_widget(formWeapons.inventories) }}
    </div>

    <button type="submit" class="btn btn-success">Ajouter !</button>
    {{ form_end(formWeapons) }}

{% endblock %}