{% extends 'base.html.twig' %}
{% block title 'Jeu' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/game') }}
{% endblock stylesheets %}
{% block body %}
<pre>
{{ dump(dungeons|json_encode|raw) }}
</pre>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="game.css">


</head>

<body>

<img id="perso1" class="sprite" src="https://i.pinimg.com/originals/25/e8/98/25e8984c04d99639da6be5a0540fbc17.png" alt="">
<img id="perso2" class="sprite" src="https://i.pinimg.com/originals/25/e8/98/25e8984c04d99639da6be5a0540fbc17.png" alt="">
<img id="perso3" class="sprite" src="https://i.pinimg.com/originals/25/e8/98/25e8984c04d99639da6be5a0540fbc17.png" alt="">

</body>
<div id="menu">
    <div id="submenu">
        <ul class="move">
        </ul>
    </div>
    <div id="player">
        <ul class="info"></ul>
    </div>
    <div id ="ennemy">
        <ul class ="infoEnnemy"></ul>
    </div>
</div>
<script>
    var DungeonID = {{ dungeons.id }}
    var	UserID = {{ team.id }}
</script>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/game') }}
{% endblock javascripts %}


