{% extends 'pages/baseInGame.html.twig' %}

{% block body %}
<div id ="signup" class="container text-center">
    <div id="signuppage" class ="jumbotron text-center" >
        <h1>Votre inventaire</h1>
        <h2>Voici vos consommables disponibles :</h2>
        {% for consumable in team.Inventory.consumables %}
            <p> - {{ consumable.consumables.name }} {{ consumable.quantite }} </p>
        {% endfor %}
            {% for player in team.Characters%}
                <h1>{{ player.name }}</h1>
            <h2>Voici vos armes disponibles:</h2>

        {% for weapon in team.Inventory.weapons %}
            {% if weapon.weapons in player.class.AuthorizedWeapons %}
            <p> - {{ weapon.weapons.name }}{{ weapon.quantite }} <a href="{{ path('equip_weapon', {'id': weapon.weapons.id,'playerid':player.id}) }}" class="btn btn-primary">Equiper</a></p>
            {% endif %}
        {% endfor %}

            <h2>Voici vos armures disponibles :</h2>

            {% for armor in team.Inventory.armor %}
                {% if armor.armor in player.class.AuthorizedArmors %}
                <p> - {{ armor.armor.name }} {{ armor.quantite }}<a href="{{ path('equip_armor', {'id': armor.armor.id,'playerid':player.id}) }}" class="btn btn-primary">Equiper</a></p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

