{% extends 'pages/baseInGame.html.twig' %}

{% block body %}

    {% for player in team.Characters%}
        <h3>Voici les moves, armes et armures autorisés pour {{ player.name }} :</h3>
        <p>Moves :</p>
        {% for move in player.class.AuthorizedMove %}
            {% if move.lvl <= team.lvl %}
                <p> -> {{ move.nom }}  <a href="{{ path('buy_move', {'id': move.id,'team':team.id}) }}" class="btn btn-primary">Acheter !</a></p>
            {% endif %}
        {% endfor %}
        <p>Armes : </p>
        {% for weapon in player.class.AuthorizedWeapons %}
            <p> -> {{ weapon.name }} <a href="#" class="btn btn-primary">Acheter !</a> </p>
        {% endfor %}

        <p>Armures : </p>
        {% for armor in player.class.AuthorizedArmors %}
            <p> -> {{ armor.name }} <a href="#" class="btn btn-primary">Acheter !</a> </p>
        {% endfor %}
    {% endfor %}
    {% for consumable in consumable %}
        <p> -> {{ consumable.name }} <a href="#" class="btn btn-primary">Acheter !</a> </p>
    {% endfor %}
{% endblock%}