<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Dungeon Rush !{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/build/css/app.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href= "{{ asset('build/css/footer.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('/build/images/logoDungeonRush.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                {% block ul %}
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="{{ path('characterclass.index') }}">Classes</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ path('add') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Créer</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('addDungeon') }}">Donjon</a>
                                <a class="dropdown-item" href="{{ path('addStage') }}">Stage</a>
                                <a class="dropdown-item" href="{{ path('addMonster') }}">Monstre</a>
                                <a class="dropdown-item" href="{{ path('addConsumable') }}">Consommable</a>
                                <a class="dropdown-item" href="{{ path('addWeapon') }}">Arme</a>
                                <a class="dropdown-item" href="{{ path('addArmor') }}">Armure</a>
                                <a class="dropdown-item" href="{{ path('addMove') }}">Move</a>
                            </div>
                        </li>

                    {% endif %}

                {% endblock ul %}
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <nav class="navbar">
                        <span class="navbar-text">
                            Connecté en tant qu'administrateur : {{ app.user.username }}
                        </span>
                    </nav>

                {% elseif is_granted('ROLE_USER') %}
                    <nav class="navbar">
                        <span class="navbar-text">
                            Connecté en tant que : {{ app.user.username }}
                        </span>
                    </nav>
                {% endif %}
            {% endif %}
            <ul class="navbar-nav ml-auto">
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('signup') }}">Inscription <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if not app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('login') }}">Connexion <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('logout') }}">Déconnexion <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
        {% block body %}{% endblock %}
    {% block footer %}
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('signup') }}">S'inscrire</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>A propos de nous</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="https://twitter.com/YayaSlim7" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright DungeonRush </p>
        </div>
    </footer>
    {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
